<div class="container">

    <h1>Welcome to my webpage!</h1>

    <p>You have visited this page {{hits}} times, you awesome human!</p>

    <p><a href="./resetHitCounter">Reset hit counter</a></p>

</div>